<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>google</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.364801019729-mhh0dbh0ivdol5fgulfvcj6rjb7hbqhv</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>todo</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>todo</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>364801019729-mhh0dbh0ivdol5fgulfvcj6rjb7hbqhv.apps.googleusercontent.com</string>
	<key>GIDServerClientID</key>
	<string>364801019729-bp9di92ga9uahndkn72p1r028kpug873.apps.googleusercontent.com</string>
	<key>SUPABASE_PUBLISHABLE_KEY</key>
	<string>sb_publishable_CqPxCXnr8KBizWsYVQLOxQ_MHtJFgQy</string>
	<key>SUPABASE_REDIRECT_URL</key>
	<string>todo://auth-callback</string>
	<key>SUPABASE_URL</key>
	<string>https://kddeevmuyevhgoyvrdlc.supabase.co</string>
	<key>UIAppFonts</key>
	<array>
		<string>CalSans-Regular.ttf</string>
		<string>Jura-Variable.ttf</string>
		<string>bebas-neue.ttf</string>
		<string>Aleo-VariableFont_wght.ttf</string>
		<string>Aleo-Italic-VariableFont_wght.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
